body {
  margin: 0;
  background: rgba(0,0,0,0);
  font-family: Arial, sans-serif;
}

#box {
  width: 180px;
  padding: 10px;
  background: rgba(25, 25, 25, 0.75);
  color: white;
  border-radius: 10px;
  font-size: 18px;
  user-select: none;
  -webkit-app-region: drag;   /* <-- Makes widget draggable */
  position: relative;
}

#closeBtn {
  -webkit-app-region: no-drag; /* Button is clickable */
  position: absolute;
  right: 8px;
  top: 5px;
  color: #ff8080;
  font-size: 14px;
  cursor: pointer;
  padding: 2px 6px;
  border-radius: 5px;
}

#closeBtn:hover {
  background: rgba(255, 255, 255, 0.2);
}
